{% extends 'board/base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
    <nav>
        <a href="{% url 'board:post_edit' pk=board.pk %}">수정하기</a>
    </nav>
    {% endif %}
    <div class="detail clearfix">
        {% if board.published_date %}
            <div class="detail_publish">
                <p>{{ post.published_date }}</p>
            </div>
        {% else %}
            {% if user.is_authenticated %}
            <a href="" >배포하기</a>
            {% endif %}
        {% endif %}
        <h1>{{ board.title }}</h1>
        <p>글쓴이: {{ board.author }} | 작성일: {{ board.created_date }} | 수정일: {{ board.modified_date }}</p>
        <p>{{ board.text|linebreaksbr }}</p>
        <div>
            <h4>첨부파일</h4>
            <p>
                {% for file in files %}
                    <a href="{% get_media_prefix %}{{ file }}">{{ file.filename }}</a>
                {% endfor %}
            </p>
        </div>
        <div>
            <h4>첨부이미지</h4>
            {% for img in images %}
                <a href="{% get_media_prefix %}{{ img }}">{{ img.filename }}</a>
                <img src="{% get_media_prefix %}{{ img }}" alt="{{ img.name }}" >
            {% endfor %}
        </div>
    </div>
{% endblock %}