{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="draft">
            <p class="draft_date">Created: {{ post.created_date|date:'y-m-d' }}</p>
            <h1>
                <a href="{% url 'blog:post_detail' pk=post.pk %}" class="draft_title">{{ post.title }}</a>
                {% if user.is_authenticated %}
                <a href="{% url 'blog:post_remove' pk=post.pk %}" class="draft_del">[삭제]</a>
                {% endif %}
            </h1>
            <p class="draft_text">{{ post.text | linebreaksbr }}</p>
        </div>
    {% empty %}
        <h2>초안목록이 없습니다.</h2>
    {% endfor %}
{% endblock %}