{% extends 'base.html' %}

{% block title %}
<h1><a href="/" style="color:#fff;">'그'가 만든 페이지</a></h1>
{% endblock %}
{% block home %}
    <div class="home">
        <div class="home_1 home_C">
            <h2><a href="blog/">블로그 최신글</a></h2>
            <ol>
                {% for post in posts %}
                <li><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post }} | {{ post.created_date }}</a></li>
                {% endfor %}
            </ol>
        </div>
        <div class="home_2 home_C">
            <h2><a href="board/">게시판 최신글</a></h2>
            <ol>
                {% for board in boards %}
                <li><a href="{% url 'board:post_detail' pk=board.pk %}">{{ board }} | {{ board.created_date }}</a></li>
                {% endfor %}
            </ol>
        </div>
        <div class="home_C">
            <h2>Tag</h2>
            <p>
                {% for tag in tags %}
                    <a href="{% url 'taglink' tag.name %}">#{{ tag }}</a>
                {% endfor %}
            </p>
        </div>
    </div>

{% endblock %}
